.search {
	&__form {
		padding-top: 60px;
		padding-bottom: 40px;
		padding-right: 60px;

		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__label {
		font-size: 16px;
	}
	&__input {
		width: 34%;
		height: 60px;
		padding-left: 25px;
		
		font-size: 16px;
		border: 1px solid $grey;
		border-radius: 2px;
	}
	&__button {
		width: 34%;
		height: 60px;

		text-decoration: underline;

	}
}
@media (max-width: 640px){
	.search {
		&__form {
			padding: 10px;
			flex-direction: column;
			}
			&__input {
				width: 100%;
				margin-bottom: 20px;
				margin-top: 20px;
			}
			&__button {
				width: 100%;
			}
		}
}