.registration-form {

	&__elements-wrapper {
		width: 49%;
	}
	&__input-wrapper {
		width: 100%;
		height: 60px;
		margin-bottom: 15px;
		display: flex;
		align-items: center;

		border: 1px solid $grey;
		border-radius: 2px;
	}
	&__icon-wrapper {
		position: relative;

		width: 60px;
		height: 60px;
		border-right: 1px solid $grey;
	}
	&__icon {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}
	&__input {
		width: 100%;
		height: 100%;
		padding-left: 15px;
	}
	&__label {
		
		display: block;
		margin-bottom: 15px;
		

	}
	&__dispatch-label {
		position: relative;

		padding-left: 30px;
		&:before {
			content: '';
			position: absolute;
			left: 0;
			top: 50%;
			transform: translate(0, -50%);

			width: 22px;
			height: 22px;

			border-radius: 100%;
			background-color: $grey;
			cursor: pointer;

		}		
	}
	&__radio {
		&:checked {
			+ label {
			&:after {
				content: '';
				position: absolute;
				left: 11px;
				top: 50%;
				transform: translate(-50%, -50%);

				display: block;
				width: 10px;
				height: 10px;

				background-color: $accent;
				border-radius: 50%;


			}
	}
}
}
	&__dispatch-question {
		display: inline-block;
	}
	&__capcha-label {
		display: block;
		margin-bottom: 15px;
	}
	&__capcha-wrapper {
		height: 60px;
		display: flex;
		justify-content: space-between;
	}
	&__capcha-input {
		width: 40%;
		height: 100%;
		padding-left: 25px;
		
		font-size: 16px;
		background-color: $grey;
	}
	&__capcha-check {
		width: 40%;
		
		font-size: 16px;
		color: #fff;
		text-align: center;

		background-color: $black;
	}
	&__capcha-refresh {
		position: relative;
		width: 60px;
		background-color: $grey;
	}
	&__capcha-icon {
		position: absolute;
		left: 50%;
		right: 50%;
		transform: translate(-50%, -50%);
	}
	&__submit {
		height: 60px;
		width: 100%;

		font-size: 16px;
	}
	&__submit-icon {
		fill:#fff;
		margin-left: 15px;
	}
}