.registration {
	&__side-divider {
		display: flex;
		justify-content: space-between;
	}
	&__side-wrapper {
		width: 100%;
		margin-left: 20px;
		padding-right: 10px;
	}
	&__title {
		margin-bottom: 15px;

		font-size: 24px;
		font-weight: bold;
		text-transform: uppercase;
		color: $accent;
	}	
	&__undertitle {
		font-size: 16px;
	}
	&__entrance-link {
		font-weight: bold;
		text-decoration: underline;
	}
}
@media (max-width: 767px) {
		.registration {
			&__side-divider {
				flex-direction: column;
			}
			&__side-wrapper {
				margin-left: 0;
				padding-left: 10px;
				margin-top: 20px;
			}
		}
}