body {
	display: flex;
	flex-direction: column;

	font-family: $default-font;
	font-size: 14px;
	border-top: 4px solid $accent;
	
}
.container {
	position: relative;

	width: 100%;
	max-width: 1300px;
	min-width: 320px;
	margin: 0 auto;
}
.section-title {
	margin-bottom: 20px;
	margin-top: 15px;

	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;

}
.common-section {
	border-top: 1px solid $accent;
	margin-top: 20px;
	margin-bottom: 15px;

}
.common-description {
	p {
		margin-bottom: 30px;

		font-size: 16px;
		line-height: 24px;

	}
	ul {
		list-style-type: disc;
		list-style-position: inside;
		line-height: 24px;
	}	
}
.side-divider {
	display: flex;
	justify-content: space-between;
}

.categories-side-wrapper {
	display: flex;
	flex-direction: column;
}
.banner-side-wrapper {
	padding-left: 20px;
	width: 100%;
}
.left-side {
	width: 58%;
}
.right-side {
	width: 41%;
}
.common-button {
	background-color: $accent;
	border-radius: 2px;
	
	text-align: center;
	text-transform: uppercase;
	color: #fff;


	&:hover {
		background-color: darken($accent, 5%);
	}
	&--black {
		text-transform: lowercase;
		background-color: $black;
		
		&:hover {
			background-color: lighten($black, 7%);
		}
	}
}
.common-bold {
	font-weight: bold;
}
.responsive-img {
	max-width: 100%;
}
.page-title {
	font-size: 24px;
	font-weight: bold;
	text-align: center;
}