body {
	display: flex;
	flex-direction: column;

	font-family: $default-font;
	font-size: 14px;
	border-top: 4px solid $accent;
	
}
.container {
	position: relative;

	width: 100%;
	max-width: 1650px;
	min-width: 320px;
	margin: 0 auto;
}
.display-flex {
	display: flex!important;
}
.section-title {
	margin-bottom: 20px;
	margin-top: 15px;

	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	color: #333;

}
.common-section {
	border-top: 1px solid $accent;
	margin-top: 20px;
	margin-bottom: 15px;

}
.common-description {
	p {
		margin-bottom: 30px;

		font-size: 16px;
		line-height: 24px;

	}
	ul {
		margin-bottom: 30px;
		list-style-type: disc;
		list-style-position: inside;
		line-height: 24px;

	}	
	h3 {
		margin-bottom: 20px;
		margin-top: 15px;

		font-size: 16px;
		font-weight: 700;
		text-transform: uppercase;
		color: #333;
	}	
	h4 {
		margin-bottom: 30px;

		font-size: 16px;
		text-transform: uppercase;
		line-height: 24px;
		text-align: center;
	}
	img {
		max-width: 100%;
	}
}
.side-divider {
	display: flex;
	justify-content: space-between;
}
.side-divider-filters {
	display: flex;
	justify-content: space-between;
}


.categories-side-wrapper {
	display: flex;
	flex-direction: column;
}
.banner-side-wrapper {
	padding-left: 20px;
	width: 100%;
	overflow: hidden;
	
}
.left-side {
	// width: 58%;
	width: 50%;
}
.right-side {
	// width: 41%;
	width: 49%;
}
.common-button {
	background-color: $accent;
	border-radius: 2px;
	
	text-align: center;
	text-transform: uppercase;
	color: #fff;


	&:hover {
		background-color: darken($accent, 5%);
	}
	&--black {
		text-transform: lowercase;
		background-color: $black;
		
		&:hover {
			background-color: lighten($black, 7%);
		}
	}
}
.common-bold {
	font-weight: bold;
}
.responsive-img {
	max-width: 100%;
	height: auto;
}
.page-title {
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	color: #333;
	&--left {
		text-align: left;
	}
	&--capitalize {
		text-transform: capitalize;
	}
}
.continue-button {
	display: block;
	width: 420px;
	height: 40px;
	margin: 0 auto;

	text-align: center;
	font-size: 16px;
	text-transform: uppercase;
	color: #fff;

	background-color: $black;

	&:hover {
		background-color: lighten($black, 10%);
	}
	&__icon {
	margin-left: 15px;
	fill: #fff
	}
	}
.paragraph {
	margin-bottom: 25px;
	font-size: 16px;
	&:last-child {
		margin-bottom: 0;
	}
}
.centered {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);

}
.clear {
	clear: both;
}
.left-img {
	float: left;
	margin-right: 15px;
}
.right-img {
	float: right;
	margin-left: 15px;
}
.catalog-padding {
	padding-left: 10px;
	padding-right: 20px;
}
@media (max-width: 1150px) {
	.side-divider {
	flex-direction: column;
	}
	.banner-side-wrapper {
		padding-left: 0;
	}
}
@media (max-width: 1650px){
	.padding-section {
		padding-left: 10px;
		padding-right: 10px;
	}
	.common-description {
		padding-left: 10px;
		padding-right: 10px;
	}
	.page-title--left {
		padding-left: 10px;
	}
}
@media (max-width: 1100px) {
	.side-divider-filters {
	flex-direction: column;
	}

}
@media (max-width: 768px){
	.continue-button {
		width: 80%;
	}
}