@font-face {
  font-family: 'Tahoma';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Tahoma/Tahoma.woff') format('woff');
  fond-display: swap;
}
@font-face {
  font-family: 'Tahoma';
  font-style: bold;
  font-weight: 700;
  src: url('../fonts/Tahoma/Tahoma-Bold.woff') format('woff');
  fond-display: swap;
}
