.ordering {
	&__table {
		margin-top: 25px;
		// overflow-x: auto;
		width: 100%;
				

	}
	&__table-wrapper {
		max-width: 100%;
		overflow-x: auto;
		::-webkit-scrollbar-button {
background-repeat:no-repeat;
width:5px;
height:0px
}

::-webkit-scrollbar-track {
background-color:#ecedee
}

::-webkit-scrollbar-thumb {
-webkit-border-radius: 0px;
border-radius: 0px;
background-color: $accent;
}

::-webkit-scrollbar-thumb:hover{
background-color: lighten($accent, 7% );
}

::-webkit-resizer{
background-image:url('');
background-repeat:no-repeat;
width:4px;
height:0px
}

::-webkit-scrollbar{
width: 4px;
}
	}

	&__row{
		text-align: center;
		border-bottom: 1px solid $grey;
		&:first-of-type {
			background-color: $accent;
			color: #fff;
			text-transform: uppercase;
		}

	}
	&__column {
		
		font-size: 16px;
		padding-left: 10px;
		padding-right: 10px;
		// color: #fff;
		padding-top: 20px;
		padding-bottom: 20px;
		&:first-child {
			width: 90px;
		}
	}
	&__img-wrapper {
		position: relative;

		padding-bottom: 100%;

		overflow: hidden;
	}
	&__img {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		max-width: 100%;
		margin: auto;
		object-fit: cover;
	}
	&__delete {
		position: relative;

		width: 30px;
		height: 30px;

		background-color: $grey;

	}
	&__total {
		margin-top: 20px;
		font-size: 16px;
		text-align: right;
	}
	&__sum {
		font-size: 24px;
		font-weight: bold;
	}
}