.ordering-form {
	display: flex;
	justify-content: space-between;
	&__wrapper-left {
		width: 55%;
	}
	&__wrapper-right {
		width: 41%;
	}
	&__radio-label {
		display: block;

		line-height: 24px;
	}
	&__adress-input {
		height: 60px;
		width: 100%;
		position: relative;

		border: 1px solid $grey;
		border-radius: 2px;
		padding-left: 15px;

		&--half {
			width: 100%;
		}

	}
	&__post-adress {
		display: none;
	}
	&__adress-label {
		display: block;
		margin-bottom: 15px;
		margin-top: 5px;
	}
	&__adress-wrapper {
		display: inline-block;
		width: 48%;
	}
	&__payment-wrapper {
		display: inline-block;
		width: 100%;
		text-align: center;
	}
	&__payment-input {
		position: relative;

		width: 130px;
		height: 40px;
		margin-bottom: 10px;

		text-align: center;

		border: 1px solid $grey;

	}
	&__payment-label {
		position: absolute;
		padding-left: 10px;
		padding-top: 10px;
	}
	&__divider {
		display: flex;
		justify-content: space-between;
	}
	&__small-title {
		margin-bottom: 15px;
		margin-top: 15px;
		&--center {
			text-align: center;
		}
	}
	&__payment-info {
		margin-left: 50px;
		margin-right: 50px;
		margin-top: 15px;
	}
	&__payment-sum-block {
		width: 100%;
		padding: 15px;
		
		text-align: center;

		background-color: $grey;
		font-size: 16px;
	}
	&__payment-button {
		position: relative;

		display: inline-block;
		margin-bottom: 15px;
		
		font-size: 16px;
		text-decoration: underline;
		&:after {
			content: '>>';
			position: absolute;
			right: -30px;
		}
	}
	&__payment-sum {
		position: relative;

		display: inline-block;
		padding: 10px 60px;
		margin-top: 15px;
		margin-bottom: 15px;
		background-color: $green;
		border-radius: 30px;

		font-size: 24px;
		font-weight: bold;
		color: #fff;

		&:before {
			content: '';
			position: absolute;
			bottom: -20px;
			left: 50%;
			transform: translate(-50%, 0);

			border: 10px solid transparent;
			border-top: 10px solid $green;
		}
	}
	&__submit {
		margin-top: 45px;
	}
}

@media (max-width: 1024px) {
	.ordering-form {
		&__payment-sum {
			padding: 10px 40px;
		}
		&__payment-info {
			margin-left: 25px;
			margin-right: 25px;
		}
	}
}
@media (max-width: 767px) {
	.ordering-form {
		flex-direction: column;
		&__wrapper-left {
			width: 100%;
		}
		&__wrapper-right {
			width: 100%;
		}
	}
}