.contacts {
	&__flex-wrapper {
		display: flex;
	}
	&__img {
		padding: 0 20px;
		display: inline-block;
	}
	&__title {
		font-size: 24px;
		text-transform: uppercase;
		font-weight: bold;
		color: $accent;
		margin-top: 20px;
		margin-bottom: 20px;
	}
	&__group {
		display: inline-block;
		vertical-align: top;
	}
	&__item {
		position: relative;
		margin-bottom: 25px;
		padding-left: 30px;
	}
	&__list {
		padding: 0 60px;
	}
	&__icon {
		position: absolute;
		left: 0;
		top: 0
		
	}
	&__link {
		&:hover {


		text-decoration: underline;
	}	
}
	&__map {
		margin-top: 20px;
		margin-bottom: 25px;
	}

}
