.err404 {
	
	&__img {
		text-align: center;
		margin: 0 auto;
	}
	&__title {
		margin-bottom: 100px;
		margin-top: 20px;
		font-size: 45px;
		color: $accent;
		text-align: center;
		
	}
}
@media (max-width: 767px) {
	.err404__title {
		font-size: 35px;
		margin-bottom: 30px;
	}
}