.all-advantages {
	margin-top: 50px;
	margin-bottom: 50px;
	&__title {
		margin-bottom: 55px;

		text-align: center;
		text-transform: uppercase;
		font-weight: bold;
		font-size: 24px;
	}
	&__cards-wrapper {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		
	}
	&--small {
		margin-top: 20px;
		margin-bottom: 20px;
		.all-advantages__title {
			font-size: 16px;
			margin-top: 20px;
			margin-bottom: 0;
		}
		.advantage-card {
			padding: 15px 5px 15px 5px;
		}
	}
}
