.all-characteristics {
	&__item {
		position: relative;
		display: flex;
		justify-content: space-between;
		font-size: 16px;
		line-height: 24px;
	}
	&__dots {
	
		width: 100%;
		background-image: url(../images/product/dot.png); 
		background-repeat: repeat-x;
		background-position: 0 12px;
		margin-right: 5px;
		margin-left: 5px;
	}
	&__name {
		white-space: nowrap;
		display: inline-block;
		
	}
	&__value {
		font-weight: bold;
		white-space: nowrap;
	}
}
@media (max-width: 767px) {
	.all-characteristics {
		&__item {
			flex-direction: column;
			border-bottom: 1px dashed $black;
		}
	}
}
@media (max-width: 360px) {
	.all-characteristics {
		&__item {
			font-size: 14px;
		}
	}
}