.breadcrumbs {
	margin-top: 20px;
	margin-bottom: 20px;
	&__list {

		
	} 
	&__item {
		display: inline-block;
		margin-right: 5px;
			&:last-child {
				a {
					text-decoration: none;
				}

		}
	}
	&__link {

		text-decoration: underline;
		color: $black;
		line-height: 24px;
		&:hover {
				color: $accent;
			}
	} 
}
@media (max-width: 768px) {
	.breadcrumbs {
		display: none;
	}
}