.button {
	padding-right: 15px;
	height: 45px;
	margin-right: 30px;
	color: $black;
	text-decoration: underline;

	background-color: $grey;
	border-radius: 30px;
	border: none;
	box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.77);
	
	cursor: pointer;
	background-repeat: no-repeat;
	background-position: 10px center;

	&:hover {
		color: $accent;
	}

	&--request-call {
		padding-left: 35px;
	}
	&__icon {
			margin-right: 5px;
			margin-left: 10px;
			margin-bottom: -3px;
		}
	
}