.cart-modal {
	position: absolute;
	top: 100%;
	right: -1px;
	z-index: 5;
	
	display: flex;
	display: none;
	flex-direction: column;
	width: 310px;
	padding: 5px;

	background-color: #fff;
	border-radius: 2px;
	border: 1px solid $grey;


	&__item {
		display: flex;
		justify-content: space-between;
		margin-bottom: 10px;
		padding: 2px;

		background-color: #F9F6FD;
	}
	&__delete-item{
		display: block;
		width: 12px;
		height: 12px;
		margin-top: 7px;
		margin-right: 7px;
	}
	&__del-icon {
		fill: $black
	}
	&__quantity-block {
		padding: 0 10px;
	}
	&__product-name {
		font-size: 12px;
	}
	&__product-price {
		padding-right: 10px;
		align-self: center;

		font-weight: bold;
		color: $accent;
	}
	&__total {
		margin-bottom: 10px;
		padding-right: 10px;

		text-align: right;
		font-weight: bold;

	}
	&__buttons-block {
		display: flex;
		justify-content: space-between;

	}
	&__button {
		display: block;
		width: 48%;
		padding: 10px;

		font-size: 12px;
		color: #fff;
		text-align: center;
		

		background-color: $accent;
		border-radius: 2px;

		&--green {
			background-color: #1A8B04;
		}

	}

	&:before {
		content: '';
		
		position: absolute;
		top: -15px;
		left: 50%;
		border: 7px solid transparent;
		border-bottom: 7px solid $black;
	}
}