.cart-line {
	position: fixed;
	z-index: 14;
	bottom: 0;
	left: 0;
	display: none;


	width: 100%;
	height: 40px;

	background-color: $black;

	&__text {
		margin-right: 15px;

		font-size: 16px;
		color: #fff;
	}
	&__container {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		height: 100%;
	}
	&__products-quantity {
		margin-right: 15px;

		width: 30px;
		height: 30px;
		display: flex;
		justify-content: center;
		align-items: center;

		background-color: $accent;
		border-radius: 2px;
		color: #fff;


	}
	&__price {
		margin-right: 15px;

		color: #fff;
		font-size: 16px;
	}
	&__button-checkout {
		padding-top: 7px;
		padding-bottom: 7px;
		padding-left: 5px;
		padding-right: 10px;
	}
}
@media (max-width: 768px) {
	.cart-line {
		display: none!important;
	}
}