.cart {
	position: relative;

	display: flex;
	align-items: center;
	justify-content: flex-end;
	height: 100%;
	padding-left: 110px;
	
	&__products-counter {
		position: relative;

	}
	&__products-quantity {
		position: absolute;
		top: -30px;
		left: -50px;
		z-index: 3;

		width: 33px;
		height: 33px;
		padding-top: 4px;
		display: block;

		font-size: 16px;
		color: #fff;
		text-align: center;

		background-color: $black;
		border-radius: 100%	;
		border: 3px solid #fff;
	}


	&__total-sum {

		font-size: 16px;
		font-weight: 700;
		color: $accent;
	}

	&__icon {
		position: absolute;
		left: -100px;
		top: -30px;

		fill: $accent;
		cursor: pointer;

		&:hover {
			fill: darken($accent, 7%);
		}
		&:active {
			fill: lighten($accent, 5%);
		}
	}
}
@media (max-width: 1040px) {
	.cart__total-sum {
		display: none;
	}
	.cart {
		position: absolute;
		top: 40px;
		right: 0;
		display: block;
	}
}
@media (max-width: 767px) {
	.cart {
		// transform: scale(0.6);
		top: 20px;
		// right: -25px;
		&__icon {
			transform: scale(0.6);
			left: -75px
		}
		&__products-quantity {
			transform: scale(0.6);
			left: -35px;
			top: -26px;	
		}

	}

}