.common-popup {
	position: fixed;
	z-index: 30;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	
	padding: 35px 60px;
	// display: inline-block;
	// display: none;
	
	text-align: center;

	background-color: #fff;
	&__wrapper {
		position: fixed;
		left: 0;
		top: 0;
		z-index: 7;
		// display: none;
		

		width: 100%;
		height: 100%;

	background-color: transparentize($black, 0.5);
	}
	&--success {
		display: none;
	}
	&__success-phrase {
		font-size: 20px;
		color: $green;
	}
	&__buttons {
		display: flex;
		justify-content: space-between;
	}
	&__buttons-on-page {
		margin-top: 20px;
	}
	&__title {
		display: block;

		font-size: 20px;
		font-weight: bold;
		margin-bottom: 40px;
	}
	&__phone-input {
		display: block;
		width: 100%;
		height: 60px;
		margin-bottom: 20px;
		
		font-size: 24px;
		text-align: center;

		border: 1px solid $black; 
	}

	&__phone-label {
		display: block;

		font-size: 24px;
		line-height: 24px;
		margin-bottom: 35px;
	}
	&__button {
		padding: 10px;
		height: 40px;
		display: inline-block;
		
		font-size: 18px;
		color: #fff;
		text-align: center;

		background-color: $accent;
	}

	&__close-button {
		position: absolute;
		right: -10px;
		top: -10px;

		display: block;
		width: 35px;
		height: 35px;

		background-color: $accent;

		&:before {
			content: '';
			position: absolute;
			left: -5px;
			top: -5px;
			z-index: -1;

			display: block;
			width: 35px;
			height: 35px;

			background-color: $black;

			
		}
		&:hover {
			background-color: darken($accent, 5%);
		}
		&:active {
			background-color: lighten($accent, 5%);
		}

	}
	&__close-icon {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		transition: 2s;
	}

}
@media (max-width: 768px) {
	.common-popup {
		padding: 35px 20px;
		width: 90%;
		&__buttons {
			flex-direction: column;
			justify-content: center;
		}
		&__buttons-on-page {
			padding-left: 10px;
			padding-right: 10px;
		}
		&__button {
			&:first-child {
				margin-bottom: 15px;
			}
		}
		&__title {
			font-size: 16px;
		}
	}
}