
.small-slider {
	position: relative;
	padding-left: 15px;
	padding-right: 15px;
	max-width: 660px;
	margin: 0 auto;

	&__button {
		position: absolute;
		top: 50%;
		transform: translate(0, -50%);
		padding-top: 10px;
		padding-bottom: 10px;
		z-index: 5;
		width: 30px;

		&--prev{
			left: 0;
		}
		&--next {
			right: 0;
			text-align: right;
		}
	}
	&__slide {
		padding: 5px;

		cursor: pointer;
	}
}
.big-slide {
	&__wrapper {
	position: relative;

	// padding-bottom: 65.5%;

	overflow: hidden;
	border: 1px solid $black;
	&--clickable {
		cursor: pointer;
	}
}
	&__button {
		z-index: 1!important;
	}
	&__img {
		// position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		max-width: 100%;
		// width: 100%;
		max-height: 100%;

		margin: auto;
		object-fit: cover;
	}
}
// .small-slider .slick-active {
// 	border: 1px solid $accent;
// }
.product-gallery__thumb.slick-current {
	// border: 1px solid $accent;
	box-shadow: inset 0px 0px 0px 2px rgba(234,60,39,1);
	outline: none;
}
.product-gallery__slide-img {
	max-height: 570px;
}
@media (max-width: 360px){
	.small-slider {
		width: 220px;
	}
}