
.small-slider {
	position: relative;

	width: 330px;
	margin: 0 auto;

	&__button {
		position: absolute;
		top: 50%;
		transform: translate(0, -50%);

		&--prev{
			left: -15px;
		}
		&--next {
			right: -15px;
		}
	}
	&__slide {
		padding: 15px;

		cursor: pointer;
	}
}
.big-slide {
	&__wrapper {
	position: relative;

	padding-bottom: 62%;

	overflow: hidden;
	&--clickable {
		cursor: pointer;
	}
}
	&__img {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;

		margin: auto;
		object-fit: cover;
	}
}