.filters {
	width: 310px;
	padding: 25px;
	margin-bottom: 25px;
	background-color: $grey;
	
	&__title {
		text-transform: uppercase;
		font-size: 16px;
		font-weight: bold;
		margin-bottom: 15px;
	}
	&__property-label {
		position: relative;

		display: block;
		padding-left: 35px;

		font-size: 16px;
		line-height: 30px;

		cursor: pointer;

		&:before {
			content: '';
			position: absolute;
			left: 0;
			top: 50%;
			transform: translate(0, -50%);

			display: block;
			width: 20px;
			height: 20px;

			background-color: #fff;
			border: 1px solid darken($grey, 20%);
		}
	}
	&__property {
		position: absolute;
		left: -9999px;

		&:checked {
			+ label {
			&:after {
				content: '';
				position: absolute;
				left: 4px;
				top: 9px;

				display: block;
				width: 12px;
				height: 8px;
				border-left: 2px solid $black;
				border-bottom: 2px solid $black;

				transform: rotate(-45deg);

			}
			+ .filters__producer-products-quantity {
				display: block;
			}
			}
		}
	}
	&__element {
		padding-bottom: 15px;
		margin-bottom: 20px;

		border-bottom: 1px solid #fff;
	}
	&__list--compressed {
		max-height: 420px;
		overflow: hidden;
	}
	&__list-item {
		position: relative;
	}
	&__show-more {
		position: relative;

		padding-left: 35px;
		margin-top: 10px;

		font-size: 16px;
		
		text-decoration: underline;
	&:before {
		content: '';
		position: absolute;
		left: 7px;
		top: 6px;
		width: 5px;
		height: 5px;
		border-top: 1px solid $black;
		border-left: 1px solid $black;
		transform: rotate(-135deg);
	}
	&--hide {
		display: none;
		&:before {
			top: 8px;
			transform: rotate(45deg);
		}
	}
	}
	&__reset-icon {
		margin-right: 15px;
	}
	&__button-filtrate {
		width: 100%;
		height: 60px;
		margin-top: 20px;

		font-size: 16px;
		text-transform: uppercase;
		color: #fff;
		text-align: center;

		background-color: $black;
	}
	&__producer-products-quantity {
		position: absolute;
		right: 0;
		top: 0;

		display: none;
		width: 25px;
		height: 25px;
		padding-top: 5px;
		
		text-align: center;
		color: #fff;

		background-color: $accent;

	&:before {
		content: '';
		
		position: absolute;
		top: 5px;
		right: 100%;

		border: 7px solid transparent;
		border-right: 7px solid $accent;
	}
	}
	&__show-button {
		display: none;
		position: relative;
		width: 100%;
		height: 40px;
		padding-left: 10px;
		padding-right: 10px;

		font-size: 24px;
		color: $black;
		text-transform: uppercase;
		background-color: $grey;

		&:hover {
			background-color: darken($grey, 7%)
		}
	}
	&__show-icon {
		position: absolute;
		right: 10px;
		top: 50%;
		transform: translate(0, -50%);
		fill: $black
	}

}
@media (max-width: 1100px) {
	.filters {
	width: 100%;
	display: none;
	&__show-button {
		display: block;
	}
}
}