.gallery-popup {
	
	position: fixed;
	
	display: flex;
	display: none;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	width: 98%;
	height: 98%;
	z-index: 10;
	
	background-color: #fff;

	&__slider-wrapper {
		position: relative;
		max-width: 730px;
		width: 100%;
		margin: 0 auto;
		
	}
	&__title {
		display: inline-block;
		width: 100%;
		font-size: 24px;
		font-weight: bold;
		text-align: center;
		margin-bottom: 30px;
	}
	&__purchase {
		position: absolute;
		left: 110%;
		top: 40%;
		transform: translate(0, -50%);
		text-align: center;
	}
	&__price {
		font-size: 24px;
	}
	&__cart-button {
		width: 220px;
		height: 60px;

		font-size: 24px;
		text-transform: capitalize;
	}
	&__close-button {
		top: 30px;
		right: 30px;
	}
}