.gallery-popup {
	
	position: fixed;
	background-color: #fff;
	display: flex;
	flex-direction: column;	
	display: none;
	align-items: center;

	justify-content: center;
	width: 98%;
	height: 98%;
	z-index: 30;
	
	

	&__slider-wrapper {
		// position: relative;
		max-width: 900px;
		width: 100%;
		// margin: 0 auto;
		
	}
	&__title {
		display: inline-block;
		width: 100%;
		font-size: 24px;
		font-weight: bold;
		text-align: center;
		margin-bottom: 30px;
	}
	&__purchase {
		position: absolute;
		right: 2%;
		top: 40%;
		transform: translate(0, -50%);
		text-align: center;
	}
	&__price {
		margin-bottom: 10px;
		font-size: 24px;
	}
	&__cart-button {
		width: 220px;
		height: 60px;


		font-size: 24px;
		text-transform: capitalize;
	}
	&__button-icon {
		fill:#fff;
		position: absolute;
		left: 10px;

	}
	&__close-button {
		position: fixed;
		top: 30px;
		right: 30px;
	}
}
@media (max-width: 1400px){
	.gallery-popup {
		&__slider-wrapper {
			max-width: 700px;
		}
	}
}
@media (max-width: 1200px){
.gallery-popup {
	&__purchase {
		position: relative;
		top: 0;
		transform: none;
	}
	flex-direction: column;
	&__slider-wrapper {
		max-width: 500px;
		}
	&__purchase {
		margin-top: 20px;
	}
	}

}