.gallery-popup {
	
	position: fixed;
	// top: 10px;
	// left: 10px;
	// right: 10px;
	
	display: flex;
	// display: none;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	width: 98%;
	height: 98%;
	z-index: 10;
	
	background-color: #fff;

	&__slider-wrapper {
		max-width: 730px;
		width: 100%;
		margin: 0 auto;
		
	}
	&__title {
		display: inline-block;
		width: 100%;
		font-size: 24px;
		font-weight: bold;
		text-align: center;
		margin-bottom: 30px;
	}
}