.horizontal-categories {
	margin: 0;
	padding: 0;
	margin-top: 20px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	height: 80px;
	align-items: center;

	background-color: $accent;
	list-style-type: none;
	
	&__item {
		position: relative;

		height: 100%;
		width: 100%;
		padding-left: 12px;
		padding-right: 12px;
		
		&:hover {
			background-color: darken($accent, 5%);
		
			&:before {
				content: '';
				
				position: absolute;
				top: 0;
				left: 0;

				display: block;
				width: 100%;
				height: 2px;

				background-color: $black;

			}
		}
	}
	&__link {
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		text-decoration: none;
		color: #fff;
		text-align: center;
		line-height: 24px;
		white-space: nowrap;


		&--bold {
			flex-direction: row;

			font-weight: bold;
			font-size: 16px;
		}
		}

	&__icon {
		display: block;

		fill: #fff;

		&--menu {
			margin-right: 12px;
		}
		
		&--brands {
			margin-left: 5px;
		}
	}
	&__show-button {
		display: none;
		position: relative;
		width: 100%;
		height: 40px;
		padding-left: 10px;
		padding-right: 10px;

		font-size: 24px;
		color: #fff;
		text-transform: uppercase;
		background-color: $accent;

		&:hover {
			background-color: lighten($accent, 7%)
		}
	}
	&__show-icon {
		position: absolute;
		right: 10px;
		top: 50%;
		transform: translate(0, -50%);
		fill: #fff
	}
}
@media (max-width: 1150px) {
	.horizontal-categories {
		margin-top: 0;
		&__item {
			&:first-child {
				.horizontal-categories__link {
					font-size: 0;
				}

			}
			&:nth-child(2) {
				display: none;
			}
		}
	}

}
@media (max-width: 820px) {
	.horizontal-categories {
		&__link {
			font-size: 11px;
		}
	}
	


}
@media (max-width: 720px) {
	.horizontal-categories {
		display: none;
		flex-direction: row;
		flex-wrap: wrap;
		height: auto;
		&__item {
			display: inline-block;
			height: 100px;
			width: 50%;

			&:first-child {
				.horizontal-categories__link {
					font-size: 16px;
				}

			}
		}
		&__link {
			font-size: 16px;
		}
		&__show-button {
			display: block;
		}
	}
}