@import "main-nav";
@import "button";
@import "phones";
@import "horizontal-categories";
@import "vertical-categories";
@import "cart";
@import "advantages";
@import "top-sell";
@import "product-card";
@import "news";
@import "all-advantages";
@import "advantage-card";
@import "shop-description";
@import "call-pop-up";
@import "slider";
@import "submenu";
@import "cart-modal";
@import "quantity-switch";
@import "go-top";
@import "fancybox";
@import "filters";
@import "slider-range";
@import "product-info";
@import "double-slider";
@import "product-comments";