.main-nav {
	margin-bottom: 20px;

	&__list {
		margin: 0;
		padding: 0;
		display: flex;
		justify-content: space-between;
		height: 50px;
		box-sizing: border-box;
		align-items: center;

		background-color: $black;
		list-style-type: none;
			
	}
	&__item {
		position: relative;
		height: 100%;
		box-sizing: border-box;
		padding-left: 12px;
		padding-right: 12px;

		&:hover {
			&:before {
				content: '';
				position: absolute;
				bottom: 0;
				left: 0;
				height: 2px;
				width: 100%;
				border-bottom: 2px solid $accent;
			}
			
			background-color: lighten($black, 7%);
		}
	}	

	&__link {
		display: block;

		color: #fff;
		text-decoration: none;
		font-size: 16px;
		line-height: 50px;


	}
	&__show {
		display: none;
		position: relative;
		width: 100%;
		height: 40px;
		padding-left: 10px;
		padding-right: 10px;

		font-size: 24px;
		color: #fff;
		text-transform: uppercase;
		background-color: $black;

		&:hover {
			background-color: lighten($black, 7%)
		}
	}
	&__show-icon {
		position: absolute;
		right: 10px;
		top: 50%;
		transform: translate(0, -50%);
		fill: #fff;
		
	}
}
@media (max-width: 1340px) {
	.main-nav {
		&__link {
			font-size: 14px;
		}
	}
}
@media (max-width: 1180px) {
	.main-nav {
		display: none;
		&__list {
			display: block;
			height: auto;
		}
		&__item {
			display: block;
		}
		&__show {
			display: block;
		}
	}
}
