.main-nav {
	&__list {
		margin: 0;
		padding: 0;
		display: flex;
		justify-content: space-between;
		height: 50px;
		box-sizing: border-box;
		align-items: center;

		background-color: $black;
		list-style-type: none;
			
	}
	&__item {
		position: relative;
		height: 100%;
		// width: 100%;
		text-align: center;
		box-sizing: border-box;


		&:hover {
			&:before {
				content: '';
				position: absolute;
				bottom: 0;
				left: 0;
				height: 2px;
				width: 100%;
				border-bottom: 2px solid $accent;
			}
			
			background-color: lighten($black, 7%);
		}
	}	

	&__link {
		display: block;
		padding-left: 12px;
		padding-right: 12px;
		color: #fff;
		text-decoration: none;
		font-size: 16px;
		line-height: 50px;
		white-space: nowrap;
		// width: 100%;


	}
	&__show {
		display: none;
		position: relative;
		width: 100%;
		height: 40px;
		padding-left: 10px;
		padding-right: 10px;

		font-size: 24px;
		color: #fff;
		text-transform: uppercase;
		background-color: $black;

		&:hover {
			background-color: lighten($black, 7%)
		}
	}

	&__show-icon {
		position: absolute;
		right: 10px;
		top: 50%;
		transform: translate(0, -50%);
		fill: #fff;
		
	}
}
@media (max-width: 1340px) {
	.main-nav {
		&__link {
			font-size: 14px;
		}
	}
}
@media (max-width: 1180px) {
	.main-nav {
		display: none;
		&__list {
			display: block;
			height: auto;
		}
		&__item {
			display: block;
		}
		&__show {
			display: block;
		}
	}
}
@media (max-width: 767px) {
	.main-nav {
		position: fixed;
		top: 0;
		height: 100%;
		z-index: 20;

		background-color: $black;
		&__show {
			position: absolute;
			top: 3px;
			left: 10px;
			font-size: 0;
			width: 40px;
			background-color: transparent;
			&:hover {
				background-color: transparent;
		}
		}
		&__link {
			padding-left: 30px;
			padding-right: 30px;
		}
		&__show-icon {
			fill: $accent;
		}
	}
}
.button__icon--show-phones {
	margin-left: 0;
	fill: #fff;
}