.main-nav {
	margin-bottom: 20px;

	&__list {
		margin: 0;
		padding: 0;
		display: flex;
		justify-content: space-between;
		height: 50px;
		box-sizing: border-box;
		align-items: center;

		background-color: $black;
		list-style-type: none;
			
	}
	&__item {
		height: 100%;
		box-sizing: border-box;
		padding-left: 12px;
		padding-right: 12px;

		&:hover {
			border-bottom: 2px solid $accent;
			text-decoration: underline;
			background-color: lighten($black, 10%);
		}
	}	

	&__link {
		display: block;

		color: #fff;
		text-decoration: none;
		font-size: 16px;
		line-height: 50px;
	}
}
