.pagination {
	display: flex;
	justify-content: space-between;
	&__text {

	}
	&__pages {
		
	}

	&__link {
		position: relative;
		display: inline-block;
		padding: 10px 15px;
		margin-left: -6px;

		font-size: 16px;
		
		border-radius: 2px;

		&:after {
			content: '';
			position: absolute;
			right: 0;
			top: 7px;
			width: 1px;
			height: 60%;

			background-color: $black;

		}
		&:hover {
			background-color: $accent;
			color: #fff;

			&:after {
				display: none;
			}
		}
			&--active {
		background-color: $accent;
			color: #fff;

			&:after {
				display: none;
			}
	}
	}

}
@media(max-width: 768px) {
	.pagination {
		flex-direction: column;
		align-items: center;
		&__text {
			order: -1;
		}
	}
}