.phones {
	margin: 0;
	padding: 0;
	margin-right: 35px;

	list-style-type: none;

	&__link {
		color: $black;
		line-height: 20px;
		text-decoration: none;
	}
}
@media (max-width: 820px) {
	.phones {
		width: 100%;
		margin-right: 0;
		display: flex;
		justify-content: center;
		&__item {
			font-size: 18px;
			margin-right: 10px;
			&:last-child {
				margin-right: 0;
			}
		}
}
		// display: none;
	}
@media (max-width: 470px) {	
	.phones {
		flex-direction: row;
		justify-content: space-between;
		&__item {
			font-size: 13px;
			margin-right: 0;
		}
	}
}