.phones {
	margin: 0;
	padding: 0;
	margin-right: 35px;

	list-style-type: none;

	&__link {
		color: $black;
		line-height: 20px;
		text-decoration: none;
	}

}
.phones .phones__close {
	display: none;
}
@media (max-width: 820px) {
	.phones {
		width: 100%;
		margin-right: 0;
		display: flex;
		justify-content: center;
		&__item {
			font-size: 18px;
			margin-right: 10px;
			&:last-child {
				margin-right: 0;
			}
		}
}
		// display: none;
	}
@media (max-width: 767px) {
	.phones {
		display: none;
		position: fixed;
		top: 50%;
		left: 5%;
		
		width: 90%;
		padding: 30px;
		margin: 0;
		transform: translate(0, -50%);
		border-radius: 5px;
		border: 2px solid $accent;
		
		
		background-color: #fff;
		z-index: 25;
		&__item {
			font-size: 25px;
			text-align: center;
			line-height: 40px;
			margin: 0;
		}
	}

	.phones .phones__close {
		display: block;
}
	
}
