.product-catalog {

	&__topline {
		display: flex;
		min-height: 90px;
		justify-content: space-between;
		align-items: center;
	}
	&__view-button {
		&:first-child {
			margin-right: 10px;
		}
	}
	&__sort-icon {
		&:hover {
			fill: $accent;
		}
	}
	&__select-wrapper {
		position: relative;
		display: inline-block;
		&:before {
			content: '';

			position: absolute;
			right: 30px;
			top: 26px;

			width: 5px;
			height: 5px;

			border-left: 2px solid $black;
			border-bottom: 2px solid $black;

			transform: rotate(-45deg);
		}
		&:first-of-type {
			margin-right: 40px;
		}


	}
	&__sorting-select {
		height: 60px;

		font-size: 16px;

		border: 1px solid $grey;



	}
	&__sorting-type {
		padding-right: 180px;
		padding-left: 25px;
		

	}
	&__sorting-limit {
		padding-left: 10px;
		padding-right: 55px;
	}
	&__sort-label {
		margin-right: 20px;

		font-size: 16px;
	}

	&__product-grid {
		display: flex;
		flex-wrap: wrap;
		margin-left: -10px;
		margin-right: -10px;
// Руслан просил стилизовать повторяющиеся блоки в зависимости от родителя
		.product-card {
			&:hover {
				box-shadow: 0px 0px 15px 3px rgba(235,236,236,1);
				border-bottom: none;
				.product-card__details {
					display: block;
					
				}
			}
		}
	}

	&__shown-products-quantity {
		display: inline-block;
		width: 100%;
		padding-top: 15px;
		padding-bottom: 15px;

		text-align: right;
	}


}