.product-params2 {

	&__image {
		order: -1;
		margin: 0 auto;
		
		margin-right: 20px;
		height: auto;
		width: 50px;
	}
	&__double-image {
		position: absolute;
		left: 0;
		bottom: 100%;
		z-index: 5;	
		width: 120px;
		height: auto;
		display: none;
		border: 1px solid $black;
	}
	&__list {
		display: flex;
		flex-wrap: wrap;

	}
	&__element {
		position: relative;	
		margin-bottom: 10px;
		margin-right: 20px;
		padding: 10px;
		display: flex;
		align-items: center;
		cursor: pointer;
	}
}
@media (max-width: 1200px){
	.product-params2 {

		&__image {
			// width: 20%;
			order: -1;
			margin-left: 0;
		}
	}
}
@media (max-width: 1023px){
	.product-params2 {
		padding-left: 10%;
		padding-right: 10%;

	}
}