.product-info {
	position: relative;
	&__title {
		margin-bottom: 20px;

		font-size: 24px;
		text-transform: uppercase;
		font-weight: bold;
	}
	&__wrapper {
		display: flex;
		justify-content: space-between;
		width: 100%;
	}
	&__slider-wrapper {
		// max-width: 530px;
		// width: 100%;
		width: 50%;
	}
	&__comments-wrapper {
		position: relative;
		width: 50%;

		padding-right: 20px;
	}
	&__side-img {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
		object-fit: cover;
	}
	&__side-img-wrapper {
		width: 310px;
		position: relative;
		margin-bottom: 25px;

		padding-bottom: 62%;

		overflow: hidden;
		background-color: $grey;

	}
	&__side-img-block {
		display: flex;
		justify-content: center;
		flex-direction: column;
	}
	&__rating {
		display: flex;
		align-items: center;

		margin-bottom: 30px;
	}
	&__rating-item {
		margin-right: 5px;
	}
	&__show-video {
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translate(-50%, 0);
		display: block;
		padding: 10px 50px 10px 10px;
    	
	}
	&__video-icon {
		fill: #fff;
		position: absolute;
   		right: 10px;
    	top: 50%;
    	transform: translateY(-50%);
	}
	&__price {
		margin-bottom: 10px;
		font-size: 24px;
		color: $accent;
		font-weight: bold;
		// margin-right: 40px;
	}
	&__elements-container {
		display: flex;
	}
	&__elements-wrapper {

		margin-bottom: 30px;

		display: flex;
		flex-direction: column;
		align-items: center;

		text-align: center;
		
		&:first-child {
			margin-right: 70px;
		}

	}
	&__sale-container {
		display: flex;
    	flex-direction: column;
    	align-items: flex-start;
	}
	&__side-divider {
		position: relative;
		display: flex;
		justify-content: space-between;
	}
	&__quantity-label {
		font-size: 16px;
	}

	&__rate-icon {
		fill: $accent;
		&--not{ 
			fill: $grey
		}
		}
	&__left-side {
		width: 50%;
	}
	&__right-side {
		width: 49%;
		position: relative;
	}
	&__side-wrapper {
		// padding-left: 20px;
		width: 100%;
	}
	&__price-old {
		font-size: 18px;
		text-decoration: line-through;	
	}
	}

@media (max-width: 1200px){
	.product-info {
		&__wrapper {
			flex-direction: column;
		}

		&__slider-wrapper {
			width: 100%;
		}
		&__comments-wrapper {
			width: 100%;
		}
		&__show-video {
			position: relative;
			margin: 0 auto;
			left: inherit;
			transform: inherit;
		}
	}

}
@media (max-width: 1100px){
	.product-info {
		&__side-divider {
			flex-direction: column;
		}
		&__left-side {
		width: 100%;
		}
		&__right-side {
		width: 100%;
	}
		&__buy-panel {
			display: flex;
			flex-direction: column;
			position: relative;
			margin-top: 20px;
			// padding-left: 10px;
			// padding-right: 10px;

		}
				&__buttons-wrapper {
			flex-direction: row;
			&:first-child {
				margin-right: 10px;
			}
		}
		&__rating {
			// justify-content: flex-end;
			// width: 100%;
			align-self: center;
			order: -2;
		}
		&__elements-container {
			flex-direction: column;
		}
		&__elements-wrapper {
			// flex-direction: column;
			order: -1;
			margin-bottom: 15px;
			&:first-child {
			margin-right:0;
		}
		}
		&__price {
			margin-bottom: 10px;
			margin-right: 0;
			font-size: 30px;
		}
		&__quantity {
			// position: absolute;
			// right: 10%;
			// top: -30px;
			// align-self: center;
			// padding-left: 10%;
		}
	}
}
@media (max-width: 1100px){
	.product-info {
		&__side-wrapper {
			padding-left: 0;
			padding-right: 0;
		}
		&__comments-wrapper {
			padding-right: 0;
		}
		&__side-img-block {
			display: none;
		}
	}
}
@media (max-width: 780px) {
	.product-info__side-wrapper {
		padding-left: 0;
	}
	.product-info__side-divider {
		overflow: hidden;
}
}
@media (max-width: 1023px) {
	.product-info {
		&__title{
		font-size: 18px;
		margin-top: 10px;
		margin-bottom: 10px;
	}
		&__rating {
			margin-bottom: 10px;
		}
		&__elements-wrapper {
			&:first-child {
				flex-direction: row;
				justify-content: space-around;
				position: relative;
			}
		}
		// &__price-old {
		// 	position: absolute;
  //   		left: 5px;
  //   		top: 0;
		// }
}
}

@media (max-width: 600px){
	.product-info {
		&__quantity {
			padding-left: 0;
			align-self: center;
		}
	}
}
