.product-info {
	&__title {
		margin-bottom: 20px;

		font-size: 24px;
		text-transform: uppercase;
		font-weight: bold;
	}
	&__wrapper {
		display: flex;
		justify-content: space-between;
		width: 100%;
	}
	&__slider-wrapper {
		// max-width: 530px;
		// width: 100%;
		width: 50%;
	}
	&__comments-wrapper {
		width: 50%;

		padding-right: 20px;
	}
	&__side-img {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
		object-fit: cover;
	}
	&__side-img-wrapper {
		width: 310px;
		position: relative;
		margin-bottom: 25px;

		padding-bottom: 62%;

		overflow: hidden;
		background-color: $grey;

	}
	&__side-img-block {
		display: flex;
		justify-content: center;
		flex-direction: column;
	}
	&__rating {
		display: flex;
		align-items: center;

		margin-bottom: 30px;
	}
	&__rating-item {
		margin-right: 5px;
	}
	&__price {
		margin-bottom: 10px;
		font-size: 24px;
		color: $accent;
		font-weight: bold;
		// margin-right: 40px;
	}
	&__elements-container {
		display: flex;
	}
	&__elements-wrapper {

		margin-bottom: 30px;

		display: flex;
		flex-direction: column;
		align-items: center;

		text-align: center;
		
		&:first-child {
			margin-right: 70px;
		}

	}
	&__side-divider {
		display: flex;
		justify-content: space-between;
	}
	&__quantity-label {
		font-size: 16px;
	}

	&__rate-icon {
		fill: $accent;
		&--not{ 
			fill: $grey
		}
		}
	&__left-side {
		width: 50%;
	}
	&__right-side {
		width: 49%;
	}
	&__side-wrapper {
		padding-left: 20px;
		width: 100%;
	}
	&__price-old {
		font-size: 18px;
		text-decoration: line-through;	
	}
	}
@media (max-width: 1650px) {
	.product-info__side-wrapper {
		padding-left: 0;
}
}
@media (max-width: 1200px){
	.product-info {
		&__wrapper {
			flex-direction: column;
		}
		&__buttons-wrapper {
			flex-direction: row;
			&:first-child {
				margin-right: 10px;
			}
		}
		&__slider-wrapper {
			width: 100%;
		}
		&__comments-wrapper {
			width: 100%;
		}
	}

}
@media (max-width: 1100px){
	.product-info {
		&__side-divider {
			flex-direction: column;
		}
		&__left-side {
		width: 100%;
		}
		&__right-side {
		width: 100%;
	}
		&__buy-panel {
			display: flex;
			flex-direction: column;
			position: relative;
			margin-top: 20px;
			// padding-left: 10px;
			// padding-right: 10px;

		}
		&__rating {
			// justify-content: flex-end;
			// width: 100%;
			align-self: center;
			order: -2;
		}
		&__elements-container {
			flex-direction: column;
		}
		&__elements-wrapper {
			// flex-direction: column;
			order: -1;
			margin-bottom: 15px;
			&:first-child {
			margin-right:0;
		}
		}
		&__price {
			margin-bottom: 10px;
			margin-right: 0;
			font-size: 30px;
		}
		&__quantity {
			// position: absolute;
			// right: 10%;
			// top: -30px;
			// align-self: center;
			// padding-left: 10%;
		}
	}
}
@media (max-width: 1100px){
	.product-info {
		&__side-wrapper {
			padding-left: 0;
			padding-right: 0;
		}
		&__comments-wrapper {
			padding-right: 0;
		}
		&__side-img-block {
			display: none;
		}
	}
}
@media (max-width: 780px) {
	.product-info__side-wrapper {
		padding-left: 0;
	}
	.product-info__title {
		margin-top: 20px;
		
	}
}

@media (max-width: 600px){
	.product-info {
		&__quantity {
			padding-left: 0;
			align-self: center;
		}
	}
}
