.product-characteristics {
	&__slider-wrapper {
		max-width: 755px;
	} 
	&__buy-button {
		position: relative;

		height: 50px;
		width: 310px;

		font-size: 16px;
		text-transform: uppercase;
		text-align: center;
	}
	&__button-icon {
		position: absolute;
		left: 15px;
		top: 50%;
		transform: translate(0, -50%);

		fill: #fff

	}
	&__click-buy {
	margin-left: 15px;

	text-decoration: underline;
	&:hover {
		color: $accent;
	}
	}
	&__color-block {
		margin-top: 85px;
		display: flex;
		align-items: center;
	}
	&__color-label {
		display: inline-block;
		margin-right: 25px;

		text-align: left;
	}
	&__color-value {
		display: block;
		font-weight: bold;
	}
	&__color-img {
		display: inline-block;
	}
}
@media (max-width:1000px) {
	.product-characteristics {
		&__slider-wrapper {
			max-width: 100%;
		}
		&__color-block {
			margin-top: 10px;
			position: absolute;
			bottom: 0;
			right: 10%;
		}
		&__buy-button {
			width: 80%;
		}

	}
}