.product-comments {
	width: 100%;
	
	margin-left: 20px;


	border-top: 1px solid $accent;

	&__wrapper {
		max-height: 420px;
		overflow-y: scroll;
		&--full-width {
			max-height: none;
			overflow-y: visible;
		}
	}

	&__topline {
		display: flex;
		justify-content: space-between;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	&__item {
		position: relative;

		padding: 10px 25px;
		margin-bottom: 5px;

		border: 1px solid $grey;
	}

	&__title {
		font-size: 16px;
		text-transform: uppercase;
		font-weight: bold;

	}
	&__link {
		font-size: 16px;
		font-weight: bold;
		text-decoration: underline;
	}
	&__name {
		display: block;
		margin-bottom: 10px;

		font-size: 24px;
		
	}
	&__icon {
		fill: $accent;
		margin-right: 7px;
	}
	&__content {
		font-size: 16px;
		line-height: 24px;
	}
	&__date {
		display: block;

		font-size: 16px;
		font-style: italic;
		text-align: right;

	}
	&__rating {
		position: absolute;
		right: 10px;
		top: 13px;
	}
	&__rate-icon {
		fill: $accent;
	}
	&--full-width {
		margin-left: 0;
	}

}
@media (max-width: 1200px) {
	.product-comments {
		margin-left: 0;
	}
}
@media (max-width: 600px) {
	.product-comments {
		&__rating {
		position: relative;

		margin-bottom: 20px;
		text-align: right;
	}
	}
}