.product-info {
	&__title {
		margin-bottom: 20px;

		font-size: 24px;
		text-transform: uppercase;
		font-weight: bold;
	}
	&__wrapper {
		display: flex;
		justify-content: space-between;
		width: 100%;
	}
	&__slider-wrapper {
		max-width: 530px;
		width: 100%;
	}
	&__comments-wrapper {
		width: 49%;

		padding-right: 20px;
	}
	&__side-img {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
		object-fit: cover;
	}
	&__side-img-wrapper {
		position: relative;
		margin-bottom: 25px;

		padding-bottom: 62%;

		overflow: hidden;
		background-color: $grey;

	}
	&__rating {
		display: flex;
		align-items: center;

		margin-bottom: 30px;
	}
	&__rating-item {
		margin-right: 5px;
	}
	&__price {
		font-size: 24px;
		color: $accent;
		font-weight: bold;
	}
	&__elements-wrapper {

		margin-bottom: 30px;

		display: flex;
		justify-content: space-between;
		align-items: center;

		text-align: center;

	}
	&__quantity-label {
		font-size: 16px;
	}

	&__rate-icon {
		fill: $grey;
		&:hover {
			fill: $accent
		}
	}

}


