.product-params {
	display: flex;
	flex-wrap: wrap;

	&__item {
		display: inline-block;
		position: relative;

		width: 96px;
		height: 96px;
		margin: 5px;
		cursor: pointer;
	}
	&__radio {
		position: absolute;
		left: -9999px;
		// display: none;
		&:checked {
			+ label {
				border: 2px solid $accent;

	}
}
}
	&__img-wrapper {
		position: relative;

		padding-bottom: 100%;

		overflow: hidden;
	}
	&__img {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		max-width: 100%;
		max-height: 100%;

		margin: auto;
		object-fit: cover;
	}
}
@media (max-width: 1050px) {
	.product-params {
		padding-left: 10%;
		padding-right: 10%;
		justify-content: center;
	}
}
@media (max-width: 767px) {
	.product-params {
		&__item {
			width: 55px;
			height: 55px;
		}
	}
}