.product-params2 {
	&__image {
		
		margin: 0 auto;
		margin-top: 10px;
		width: %;
		height: auto;
	}
	&__list {
		display: flex;
		flex-wrap: wrap;

	}
	&__element {
		margin-bottom: 10px;
		margin-right: 20px;
		display: flex;
		align-items: center;
	}
}
@media (max-width: 1200px){
	.product-params2 {

		&__image {
			width: 20%;
			order: -1;
		}
	}
}
@media (max-width: 1023px){
	.product-params2 {
		padding-left: 10%;
		padding-right: 10%;

	}
}