.product-card {
	position: relative;
	height: 100%;
	display: flex;
	flex-direction: column;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 15px;
	padding-bottom: 15px;

	text-align: center;

	border: 1px solid $grey;
	&:hover {
		.product-card__details {
			display: block;
			}}
	&__wrapper {
		padding: 10px;
		min-width: 250px;
		width: 25%;
		.product-card {
			width: 100%;
			
		}
	}
	&__wrapper-category {
		padding: 10px;
		width: 25%;
		.product-card {
			width: 100%;
			
		}
	}



	&__img-wrapper {
		position: relative;

		padding-bottom: 100%;

		overflow: hidden;
	}
	&__img {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		max-width: 100%;
		max-height: 100%;

		margin: auto;
		object-fit: cover;
	}

	&__name {
		display: inline-block;
		height: 60px;
		overflow: hidden;

		color: #333;
		line-height: 20px;
		text-overflow: ellipsis;
	}
	&__advantages {
		position: absolute;
		top: 90px;
		right: 10px;
	}
	&__phrase {
		display: block;
		width: 55px;
		height: 40px;
		padding-top: 6px;
		margin-bottom: 10px;

		font-size: 12px;
		text-align: center;
		color: #fff;


		background-color: #1A8B04;
		border-radius: 2px;

		&:after {
			content: 'Топ продаж';
		}
	}
	&__delivery {
		display: block;
		width: 55px;
		padding: 4px;

		font-size: 10px;
		line-height: 10px;

		background-color: $grey;
		border-radius: 2px;

		&:after {
			content: 'Быстрая доставка';
		}
		}
	&__cart-button {
		position: relative;

		width: 200px;
		height: 40px;
		margin: 0 auto;
		margin-top: 15px;

		background-color: $accent;
		border-radius: 2px;

		color: #fff;
		text-align: center;

	}
	&__buy-button {
		display: inline-block;
		margin-top: 15px;

		text-align: center;
		text-decoration: underline;
		&:hover {
			color: $accent;
		}
	}

	&__price {
		font-size: 18px;
		display: block;
	}
	&__sale {
		position: relative;
		display: flex;
		flex-direction: column;

	}
	&__price-old {
		position: absolute;
		top: -15px;
		left: 50%;
		transform: translate(-50%, 0);
		font-size: 14px;
		text-decoration: line-through;
		color: $accent;
	}
	&__price-new {
		font-size: 18px;
	}

	&__button-icon {
		position: absolute;
		left: 15px;
		top: 50%;
		transform: translate(0, -50%);
		fill: #fff;
	}
	&__details {
		
		position: absolute;
		top: 100%;
		left: 0;
		z-index: 5;

		padding: 15px;
		width: 100%;
		display: none;

		background-color: #fff;
		border-top: none;
		box-shadow: 0px 15px 15px 3px rgba(235,236,236,1);

		line-height: 20px;
		ul {
			li{
				text-align: left;
			}
		}
		
	}
	&__details-item {
		text-align: left;
		line-height: 20px;
	}
	&__purchase {
		position: relative;
		display: flex;
		flex-direction: column;
	}
	&__sizes {
		position: absolute;
		bottom: 0;
		display: none;
    	margin-top: 5px;
    	
    	font-size: 11px;
    	font-weight: 400;
    	background-color: #eee;
    	width: 100%;
		line-height: 13px;
    	padding: 3px;
    	border-radius: 5px;
	}
	&:hover {
		box-shadow: 0 0 15px 3px #ebecec;
    	border-bottom: none;
	}
}
.product-catalog__product-grid--full-width {
	.product-card__wrapper {
		width: 20%;
	}
	.product-card__wrapper-category {
		width: 20%;
	}
	}
@media (max-width: 1343px) {
	.top-sell__wrapper, .product-catalog__product-grid {
		.product-card__wrapper {
				width: 33.333%;
		}
		.product-card__wrapper-category {
				width: 33.333%;
		}
	}
		.product-catalog__product-grid--full-width {
			.product-card__wrapper {
				width: 25%;
	
	}
		.product-card__wrapper-category {
			width: 25%;
	
	}
	}
	}
@media (max-width: 1050px) {
	.product-catalog__product-grid--full-width {
		.product-card__wrapper {
			width: 33.333%;
	}
		.product-card__wrapper-category {
			width: 33.333%;
	}
}

}
@media (max-width: 800px) {
	.top-sell__wrapper, .product-catalog__product-grid {
		.product-card__wrapper {
				width: 50%;
		}
		.product-card__wrapper-category {
				width: 50%;
		}
	}

	.product-card {
		&__wrapper {
				min-width: 150px;
		}
		&__cart-button {
			width: 100%;
			}
		&__name {
			font-size: 12px;
		}
	}
}
	
	
@media (max-width: 1024px) {
	.product-card {

	}
	.top-sell__wrapper, .product-catalog__product-grid {
		.product-card {
		&__wrapper {
				width: 50%;

		}
		&__wrapper-category {
				width: 50%;
				padding: 0;
				.product-card {
					justify-content: center;
					flex-direction: column;
					&__img-wrapper {
						width: 200px;
						height: 200px;
					}
					&__advantages {
						position: absolute;
						top: 0;
						left: 0;
						bottom: auto;
						right: auto;
					}
					&__name {
						position: relative;
						width: 100%;
						text-align: center;
						right: auto;
						height: 45px;
					}
					&__purchase {
						margin-top: 20px;
					}
					&__cart-button {
						margin-left: 0;
						font-size: 14px;
						width: auto;
						padding-left: 10px;
						padding-right: 10px;
					}
					&__button-icon {
						display: none;
					}
				}
			}

	}
	}
	.product-card {
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		padding: 10px;
		&__sizes {
			display: block;
		}
		&:hover {
			.product-card__details {
				display: none;
			}
		}
		&__img-wrapper {
			padding: 0;
			overflow: visible;
			width: 130px;
			height: 130px;

			display: flex;
		}

		&__name {
			position: absolute;
			right: 5px;
			top: 15px;
			width: 180px;
			height: 82px;
			z-index: 7;
			text-align: left;
			line-height: 15px;
			font-weight: bold;
		}
		&__purchase {
			margin-top: 93px;
			display: flex;
			flex-direction: row;
			order: 1;
			align-items: center;
			justify-content: flex-start;
			
		}
		&__price {
			font-size: 18px;
			font-weight: bold;
		}
		&__price-old {
			top: -5px;
			left: 40%;
		}
		&__advantages {
			display: flex;
			top: inherit;
			bottom: -15px;
			left: -20px;
			transform: scale(0.8);
		}
		&__phrase {
			margin-bottom: 0;
			margin-right: 10px;
		}
		&__buy-button {
			display: none;
		}
		&__cart-button {
			font-size: 0;
			width: 40px;
			margin-top: 0;
			margin-left: 10px;

		}
		&__button-icon {
			left: 50%;
			transform: translate(-50%, -50%);
		}

	}
	.product__link {
		display: flex;
	}
}

@media (max-width: 767px) {
	.top-sell__wrapper, .product-catalog__product-grid {
		.product-card {
		&__img-wrapper {
			width: 130px;
			height: 130px;
		}
		&__wrapper {
				width: 100%;
			}

		&__name {
			width: 180px;
		}
		}
	}
}
@media (max-width: 500px) {
		.top-sell__wrapper, .product-catalog__product-grid {
		.product-card {
		&__wrapper-category {
				.product-card {
					&__img-wrapper {
						width: 130px;
						height: 130px;
					}
					&__name {
						position: relative;
						width: 100%;
						text-align: center;
					}
				}
			}

}
}
}
@media (max-width: 359px) {
	.top-sell__wrapper,.slider, .product-catalog__product-grid {
		.product-card {
		&__img-wrapper {
			width: 120px;
			height: 120px;
		}
		&__wrapper {
				width: 100%;
			}
		&__name {
			width: 160px;
		}
		}
	}
}


    // display: block;
    // margin-top: 5px;
    // font-weight: 700;
    // font-size: 11px;
    // background-color: #eee;
    // /* text-align: end; */
    // display: inlin;
    // width: 100%;
    // line-height: 13px;
    // padding: 3px;
    // /* width: auto; */
    // border-radius: 5px;

    // name-height:82

    // margin-top 88px