.product-catalog {

	&__topline {
		display: flex;
		min-height: 90px;
		justify-content: space-between;
		align-items: center;
	}
	&__view-button {
		&:first-child {
			margin-right: 10px;
		}
	}
	&__sort-icon {
		&:hover {
			fill: $accent;
		}
	}
	&__select-wrapper {
		position: relative;
		display: inline-block;
		&:before {
			content: '';

			position: absolute;
			right: 30px;
			top: 26px;

			width: 5px;
			height: 5px;

			border-left: 2px solid $black;
			border-bottom: 2px solid $black;

			transform: rotate(-45deg);
			pointer-events: none
		}
		


	}
	&__sort-wrapper {
		&:first-child {
			margin-right: 40px;
		}
	}
	&__sorting-select {
		height: 60px;

		font-size: 16px;

		border: 1px solid $grey;



	}
	&__sorting-type {
		padding-right: 180px;
		padding-left: 25px;
		

	}
	&__sorting-limit {
		padding-left: 10px;
		padding-right: 55px;
	}
	&__sort-label {
		margin-right: 20px;

		font-size: 16px;

	}

	&__product-grid {
		display: flex;
		flex-wrap: wrap;
		margin-left: -10px;
		margin-right: -10px;
// Руслан просил стилизовать повторяющиеся блоки в зависимости от родителя
		.product-card {
			&:hover {
				box-shadow: 0px 0px 15px 3px rgba(235,236,236,1);
				border-bottom: none;
				.product-card__details {
					display: block;
					
				}
			}
		}
	}
	&__sorts {
		display: flex;
		justify-content: flex-end;
	}
	&__shown-products-quantity {
		display: inline-block;
		width: 100%;
		padding-top: 15px;
		padding-bottom: 15px;

		text-align: right;
	}



}

@media (max-width: 1650px){
	.product-catalog {
		// padding-left: 10px;
		// padding-right: 20px;
			&__shown-products-quantity {
			padding-right: 10px;
		}
	}
}

@media (max-width: 1343px){
	.product-catalog {
		&__buttons {
			display: none;
		}
	}
}

@media (max-width: 1024px) {
	.product-catalog__product-grid {
		.product-card {
			&:hover {
				.product-card__details {
					display: none;
					
				}
			}
		}
	}
}
@media (max-width: 768px){
	.product-catalog {
		padding-left: 0;
		padding-right: 0;
		&__product-grid {
			margin-left: 0;
			margin-right: 0;
			.product-card__wrapper {
				padding-left: 0;
				padding-right: 0;
			}
		}
		&__sorts {
			margin-right: -10px;
		
			display: flex;
			justify-content: space-between;
		}
		&__sorting-select {
			// width: 100%;
		}
		&__topline {
			width: 100%;
			height: auto;
			min-height: 0;
			margin-top: 10px;
		}
		&__sort-label {
			// display: block;
			display: inline-block;
			margin-bottom: 5px;
			margin-top: 5px;
			margin-right: 0;
			font-size: 12px;
			&:last-child {
				display: none;
			}
		}
		&__sorting-select {
			padding-top: 5px;
			padding-bottom: 5px;
			height: auto;
			font-size: 10px;
		}

		&__sorting-type {
			padding-right: 15px;
			padding-left: 5px;
	}
		&__sorting-limit {
			padding-left: 5px;
			padding-right: 15px;
		}
		&__sort-wrapper {
			&:first-child {
				margin-right: 10px;
			}
		}
		&__select-wrapper {
			position: relative;
			display: inline-block;
			// width: 100%;
		&:before {
			right: 5px;
			top: 9px;
		}

	}
}
}
@media (max-width: 359px){
	.product-catalog{
		&__sorting-type{
			
			width: 119px;
			}
		}
}
// @media (max-width: 500px) {
// 	.product-catalog {
// 		&__sorts {
// 			width: 100%;
// 			display: flex;
// 			justify-content: space-between;
// 		}
// 		&__sort-wrapper {
// 			&:first-child {
// 				margin-right: 2px;
// 			}
// 		}
// 		&__sorting-select {
// 			font-size: 14px;
// 		}
		
// 		}
// 	}
