.purchase-info {
	display: flex;
	justify-content: space-between;
	background-color: $grey;
	margin-bottom: 20px;
	&__item {
		position: relative;

		display: inline-block;
		width: 33%;
		text-align: center;
		padding-bottom: 40px;
		padding-top: 40px;
		&:before {
		content: '';

		position: absolute;
		right: 0;
		top: 50%;
		transform: translate(0, -50%);

		display: block;
		height: 80%;
		width: 1px;

		background-color: $accent;

	}	
	&:nth-child(3n) {
		&:before {
			display: none;
		}
	}
	}
	&__icon {
		display: block;
		margin: 0 auto;
		margin-bottom: 20px;
	}
	&__title {
		display: block;
		margin-bottom: 20px;

		text-transform: uppercase;
		color: $accent;
		font-weight: bold;
	}
	&__description {
		display: block;
		max-width: 220px;
		margin: 0 auto;  

		line-height: 20px;
		
	}


}