.quantity-switch {

	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 80px;
	height: 25px;
	// padding-left: 10px;
	// padding-right: 10px;
	margin-top: 5px;

	background-color: #fff;
	border: 1px solid $grey;
	&__less {
		width: 30px;
		height: 30px;
		text-align: center;
	}
	&__more {
		width: 30px;
		height: 30px;
		text-align: center;
	}
	&--big {
		width: 100px;
		height: 40px;
		margin-bottom: 30px;
	}
	&--ordering {
		width: 130px;
		height: 40px;
		margin: 0 auto;
		font-size: 16px;
		.quantity-switch__less {
			text-align: center;
			display: block;
			width: 30px;
			height: 30px;
			background-color: $grey;
		
			line-height: 0;
		}
		.quantity-switch__more {
			text-align: center;
			display: block;
			width: 30px;
			height: 30px;
			background-color: $grey;
		
			line-height: 0;
		}
	}
}
.quantity-switch__number {
	max-width: 30px;
	text-align: center;
}