.review {
	padding: 25px;
	background-color: $grey;
	margin-bottom: 25px;
	&--catalog {
		display: none;
		.review__side-divider {
			flex-direction: column;
		}
		.review__send-side {
			width: 100%;
		}
		.review__text-side {
			width: 100%;
		}
	}
	&__title {
		display: block;
		font-size: 24px;
		text-align: center;
		margin-bottom: 25px;
	}
	&__form-input {
		height: 60px;
		width: 100%;
		margin-bottom: 15px;
		padding-left: 15px;

		background-color: #fff;
		
	}
	&__input-wrapper {
		background-color: #fff;
	}

	&__send-side {
		width: 33%;
	}
	&__text-side {
		width: 65%;

	}
	&__content-field {
		width: 100%;
		height: 145px;
		padding: 25px;

		background-color: #fff;

	}
	&__capcha-wrapper {
		display: flex;
		margin-top: 10px;
	}
	&__send-capcha {
		width: 100%;
		height: 60px;
		margin-left: 15px;
		
		font-size: 16px;
		text-align: center;
		color: #fff;
		background-color: $black;

	}
	&__capcha-label {
		line-height: 0;
	}
	&__capcha-img {
		margin-left: 5px;
		height: 60px;
	}
	&__submit {
		width: 100%;
		height: 60px;

		text-align: center;
	}
	&__quality-wrapper {
		height: 60px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__note {
		margin-top: 15px;
	}
	&__side-divider {
		display: flex;
		justify-content: space-between;
	}
	&__attach-button {
		display: inline-block;
		padding: 5px 10px;
		margin-top: 10px;
	}
	&__added-name {
		display: block;
	}
}
@media (max-width: 960px) {
	.review {
		&__side-divider {
			flex-direction: column;
		}
		&__send-side {
			width: 100%;
		}
		&__text-side {
			width: 100%;
		}
	}
}
@media (max-width: 360px) {
	.review__quality {
		display: none;
	}
}
@media (max-width: 767px) {
	.review {
		padding: 10px;
	}
}