.side-menu {
	&__list {
		position: relative;

		width: 310px;
		margin: 0;
		padding: 0;
		padding-top: 15px;
		padding-bottom: 15px;

		list-style-type: none;
		background-color: $grey;
	}
	&__link {
		position: relative;

		display: block;
		padding-left: 25px;
		padding-right: 25px;

		font-size: 16px;
		text-decoration: none;
		color: $black;
		line-height: 30px;
		&:hover {
			text-decoration: underline;
		}	
	}
	&__icon {
		margin-right: 10px;
		margin-bottom: -4px;
		fill: #fff;
	}
	&__title-block {
		padding-top: 25px;
		padding-bottom: 25px;
		background-color: $accent;
		

	}
	&__title {
		font-size: 16px;
		text-transform: uppercase;
		color: #fff;
		text-align: center;
	}
}
@media (max-width: 767px) {
	.side-menu {
		&__list {
		width: 100%;
	}
	&__title-block {
		cursor: pointer;
	}
	}
}