.sliderRange {
	position: relative;

	width: 100%;
	height: 8px;
	margin-top: 20px;
	margin-bottom: 10px;
	
	background-color: #fff;

}
.ui-slider-handle {
	position: absolute;
	top: -3px;

	display: inline-block;
	width: 16px;
	height: 16px;

	background-color: $accent;
	

}
.ui-slider-range {
	position: absolute;

	height: 8px;
	
	background-color: $accent;
}
.rangeVal {
	display: inline-block;
	width: 80px;
	height: 40px;
	margin-right: 5px;

	text-align: center;
	font-size: 16px;

	border: 1px solid #C5C6C6;
	background-color: #fff;
}
.range-values {
	display: flex;
	justify-content: space-between;
	align-items: center;
}