.slider {

	margin-right: -10px;
	margin-left: -10px;
	&__button {
		position: absolute;

		display: block;
		width: 32px;
		height: 32px;

		background-color: $black;

		border: 1px solid $grey;

		&:hover {
			background-color: $accent;
		}
		&--prev {
			top: -40px;
			right: 35px;

		}
		&--next {
			top: -40px;
			right: 0;
		}
	}

	&__button-icon {
		fill: #fff;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}


}
.slider-section {
	padding-right: 10px;
	padding-left: 10px;
}
@media (max-width: 1650px) {
	.slider {
		&__button {
			&--next {
				right: 10px;
			}
			&--prev {
				right: 45px;
			}
		}
	}
}
