.slider {

	margin-right: -10px;
	margin-left: -10px;
	&__button {
		position: absolute;

		display: block;
		width: 32px;
		height: 32px;

		background-color: $black;

		border: 1px solid $grey;

		&:hover {
			background-color: $accent;
		}
		&--prev {
			top: -40px;
			right: 35px;

		}
		&--next {
			top: -40px;
			right: 0;
		}
	}

	&__button-icon {
		fill: #fff;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}


}
.slick-dots {
	display: flex;
	justify-content: center;
}
.slick-dots button {
	width: 10px;
	height: 10px;
	background-color: $black;
	border-radius: 100%;
	margin-right: 5px;
	font-size: 0;
}
.slick-active [role="tab"] {
	background-color: $accent;
}
.slider-section {
	padding-right: 10px;
	padding-left: 10px;
}
@media (max-width: 1650px) {
	.slider {
		&__button {
			&--next {
				right: 10px;
			}
			&--prev {
				right: 45px;
			}
		}
	}
}
