.vertical-categories {
	position: relative;

	width: 310px;
	margin: 0;
	padding: 0;
	padding-top: 15px;
	padding-bottom: 15px;

	list-style-type: none;
	background-color: $grey;


	&__link {
		position: relative;

		display: block;
		padding-left: 25px;
		padding-right: 25px;

		font-size: 16px;
		text-decoration: none;
		color: $black;
		line-height: 30px;
		&:hover {
			text-decoration: underline;
		}


		&--uppercase {
			text-transform: uppercase;
		}
	}

	&__arrow-icon {
		position: absolute;
		right: 25px;
		top: 50%;
		transform: translate(0, -50%);
	}
	&--popup {
		display: none;
		position: absolute;
		top: 100%;
		z-index: 10;
		background-color: #fff;
	}
}
@media (max-width: 1150px) {
	.vertical-categories {
		display: none;
	}
}