.vertical-categories {
	position: relative;

	width: 310px;
	margin: 0;
	padding: 0;
	padding-top: 15px;
	padding-bottom: 15px;

	list-style-type: none;
	background-color: $grey;

	&__hider {
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translate(-50%, 0);
		fill: $accent;

	}
	&__hide-item {
		display: block;
		height: 30px;
		width: 100%;
		position: relative;
	}
	&__item {
		position: relative;
	}
	&__link {
		

		display: block;
		padding-left: 25px;
		padding-right: 25px;

		font-size: 16px;
		text-decoration: none;
		color: $black;
		line-height: 30px;
		&:hover {
			text-decoration: underline;
		}


		&--uppercase {
			text-transform: uppercase;
		}
	}

	&__arrow-icon {
		position: absolute;
		right: 25px;
		top: 50%;
		transform: translate(0, -50%);
	}
	&--popup {
		display: none;
		position: absolute;
		top: 100%;
		z-index: 20;
		background-color: #fff;
	}
}
@media (max-width: 1150px) {
	.vertical-categories {
		display: none;
		&--popup {
			position: fixed;
			width: 100%;
			// height: 100%;
			top: 0;
			left: 0;
		}
	}
}